<div class="conteneur">
  <h1>Émargement des votants - InnotechFusion</h1>

  <table>
    <thead>
      <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Date de naissance</th>
        <th>Vote</th>
      </tr>
    </thead>
    <tbody>
      @for (membre of listeMembres; track membre.identifiant) {
        <tr>
          <td>{{ membre.nom }}</td>
          <td>{{ membre.prenom }}</td>
          <td>{{ membre.dateDeNaissance | date: 'dd/MM/yyyy' }}</td>
          <td>
            @if (!membre.aVote) {
              <button (click)="voterPourUnMembre(membre.identifiant)">Voter</button>
            } @else {
              <span>A voté</span>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
